{{# partial "titulo" }}
  <title>RescateDePatitas.com | Home Admin</title>
{{/partial}}

{{# partial "contenido"}}
  <h3>Administrador</h3>
  <hr>

  <div style="background-color:#E6E6E6;"> <h4> General </h4> </div>
  <br></br>
  <div>
    <!-- Mascotas -->
    <div style="height:150px; position:absolute; margin-left:15%">
      <div style="background-color:#2D9BF0; text-align: center; height:100px;border-radius:15px;">
      <br>
        <b style="color:#FFFFFF">
          <i class="fas fa-paw"></i>
          <br>
          324
          </br>
        </br>
        </b>
      </div>
      <div style="background-color:#E6E6E6;text-align: center; height:50px;width:150px;border-radius:15px;">
        Ver <br>Mascotas</br>
      </div>
    </div>

    <!-- Usuarios -->
    <div style="height:150px; position:absolute; left: 45%;">
      <div style="background-color:#8FD14F;text-align: center; height:100px; border-radius:15px; ">
        <b style="color:#FFFFFF">
        <br>
          <i class="fas fa-users"></i>
          <br>
          243
          </br>
          </br>
        </b>
      </div>
      <div style="background-color:#E6E6E6;text-align: center; height:50px;border-radius:15px;width:150px;">
        Ver <br>Usuarios</br>
      </div>
    </div>

    <!-- Publicaciones -->
    <div style="height:150px; position:absolute; left: 75%;">
      <div style="background-color:#FAC710; text-align: center; height:100px;border-radius:15px;">
        <b style="color:#FFFFFF; text-align: center;">
        <br>
        <i class="far fa-file-image"></i>
        <br>
          243
        </br>
        </br>
        </b>
      </div>
      <div style="background-color:#E6E6E6; text-align: center; height:50px;border-radius:15px;width:150px;">
        Ver <br>Publicaciones</br>
      </div>
    </div>

  </div>
    <br></br><br></br>
    <br></br><br></br>
    <br></br><br></br>
    <br></br>
{{/partial}}

{{> layoutAdmin.html.hbs }}