{{# partial "titulo" }}
  <title>RescateDePatitas.com | Login Error</title>
{{/partial}}

{{# partial "contenido"}}
  <div class="login">
    <br></br>
      <form action="/login">
      <div class="sesion">
        <h3 style="text-align:center;">Usted ha ingresado un usuario/password incorrecto</h3>
        <br></br>
       </div>
      <input type="submit" value="Volver al Login" class="btn btn-primary" style="margin-left:200px">
    </form>
  <br></br>
  </div>
  <br></br>
  <br></br><br></br><br></br>
  <br></br>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{{/partial}}

{{> layout.html.hbs }}

